/* ---------------------------------------------- Base.html css */

.site-background {
    background: lightblue url("../img/background-img-field.jpg") no-repeat fixed center; 
    background-size: cover;
    padding-bottom: 56px;
    min-height: 800px;
    }

.t-background {
    background-color: rgba(248, 249, 250, 0.5);
}

/* navbar customizations */
#navbar-c {
    color: rgb(144 82 53 / 83%);
    box-shadow: 1px 0px 8px 0px #3c1d1d;
}

.navbar-light .navbar-brand {
    color: rgb(144 82 53 / 83%);
}

.navbar-light .navbar-brand:hover {
    color: rgb(144 82 53 / 83%);
    font-weight: bolder;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(144 82 53 / 83%);
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(144 82 53 / 83%);
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgb(80 43 25);
}

/* ---------------------------------------------- other html css */

h3 {
    color:#293f7dfa;
    text-align: center;
    text-shadow: -2px -2px 3px white, 0 1px white, 1px 0 white, 0 -1px white, 0px 0px 10px rgba(248, 249, 250), 0px 0px 10px rgba(248, 249, 250), 0px 0px 10px rgba(248, 249, 250), 0px 0px 5px rgba(248, 249, 250), 0px 0px 5px rgba(248, 249, 250), 0px 0px 5px rgba(248, 249, 250), 0px 0px 5px rgba(248, 249, 250), 0px 0px 2.5px rgba(248, 249, 250), 0px 0px 2.5px rgba(248, 249, 250);
}

.box-background {
    background-color: rgba(248, 249, 250, 0.56);
    color:#293f7dfa;
    font-weight: bold;
    border-radius: 7%;
    box-shadow: -3px 3px 8px #3c1d1d;
    max-width: 600px;
    margin: 0 auto;

}

.form-button {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 20px;
}

/*  Submit buttons */
.submit-button {
    background-color: #9a3044;
    width: 160px;
}

.cancel-button {
    background-color: orange;
    width: 160px;
}
/* ---------------------------------------------- edit.html add.html pages css */

.box-padding {
    padding-top: 40px;
    padding-bottom: 40px;
}

/* ---------------------------------------------- Login css */
/* login CSS taken from https://epicbootstrap.com/snippets/login-form-dark  */
 
.login-dark {
  height:1000px;
  /* background-size:cover; */
}

.login-dark form {
  max-width:320px;
  width:90%;
  background-color:#1e2833;
  padding:40px;
  border-radius:4px;
  /* transform:translate(-50%, -50%); */
  /* position:absolute; */
  /* top:50%;
  left:50%; */
  color:#fff;
  margin: auto;
  box-shadow:3px 3px 4px rgba(0,0,0,0.2);
}

.login-dark .illustration {
  text-align:center;
  padding:15px 0 20px;
  font-size:100px;
  color:#2980ef;
}

.login-dark form .form-control {
  background:none;
  border:none;
  border-bottom:1px solid #434a52;
  border-radius:0;
  box-shadow:none;
  outline:none;
  color:inherit;
}

.login-dark form .btn-primary {
  background:#214a80;
  border:none;
  border-radius:4px;
  padding:11px;
  box-shadow:none;
  margin-top:26px;
  text-shadow:none;
  outline:none;
}

.login-dark form .btn-primary:hover, .login-dark form .btn-primary:active {
  background:#214a80;
  outline:none;
}

.login-dark form .forgot {
  display:block;
  text-align:center;
  font-size:12px;
  color:#6f7a85;
  opacity:0.9;
  text-decoration:none;
}

.login-dark form .forgot:hover, .login-dark form .forgot:active {
  opacity:1;
  text-decoration:none;
}

.login-dark form .btn-primary:active {
  transform:translateY(1px);
}

.login-form {
    /* margin-top: 16%; */
}


/* ---------------------------------------------- Login css */

.profile-box {
    background-color: rgba(248, 249, 250, 0.5);
}