a:hover {
    color: black;
}

.flash-message{
    padding: 5px;
    margin: 0;
    color: #bedcfa;
}

.icon-flip {
   display: inline-block;
    -moz-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

h3 i {
    margin: 0 0.3em;
    color: #293f7dfa;
}
/* ---------------------------------------------- Base.html css */

.site-background {
    background: lightblue url("../img/background-img-field.jpg") no-repeat fixed center; 
    background-size: cover;
    padding-bottom: 56px;
    min-height: 800px;
    }

.t-background {
    background-color: rgba(248, 249, 250, 0.5);
    max-width: 800px;
}

/* navbar customizations */
#navbar-c {
    color: rgb(144 82 53 / 83%);
    box-shadow: 1px 0px 8px 0px #3c1d1d;
}

.navbar-light .navbar-brand {
    color: rgb(144 82 53 / 83%);
}

.navbar-light .navbar-brand:hover {
    color: rgb(144 82 53 / 83%);
    font-weight: bolder;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(144 82 53 / 83%);
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(144 82 53 / 83%);
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgb(80 43 25);
}

.btn-outline-success {
    color: #8a3c24;
    border-color: #8a3c24;
}

.navbar-light .navbar-brand:hover {
    color: #5b250bd4;
    font-weight: normal;
}
/* ---------------------------------------------- All Items.html css */

.profile-box {
    padding: 15px 16px;
    /* background-color: rgba(248, 249, 250, 0.5); */
    border-bottom: black;
    display: inline-block;
    color: #2d4380;
    text-shadow: -2px -2px 3px white, 0 1px white, 1px 0 white, 0 -1px white, 0px 0px 10px rgb(248 249 250), 0px 0px 10px rgb(248 249 250), 0px 0px 10px rgb(248 249 250), 0px 0px 5px rgb(248 249 250), 0px 0px 5px rgb(248 249 250), 0px 0px 5px rgb(248 249 250), 0px 0px 5px rgb(248 249 250), 0px 0px 2.5px rgb(248 249 250), 0px 0px 2.5px rgb(248 249 250);
}

hr.hr-profile {
    margin: 5px 54px;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.3)
}

.delete-acc-link {
    color:#2d4380;
    text-align: center;
}

.table-button-box {
    padding-left: 10%;
}

.table-button-box i {
    padding-right: 20%;
    font-size: 21px;
}

.table-icon-d,.table-icon-e{
    color: #293f7dfa;
}

.table-cell-limitations {
    max-width: 95%;
    max-height: 150px;
    word-wrap: break-word; 
    overflow: auto;
}

.t-background th {
    text-align: center;
}

/* ---------------------------------------------- other html css */

h3 {
    color: #883820fa;
    text-align: center;
    text-shadow: -2px -2px 3px white, 0 1px white, 1px 0 white, 0 -1px white, 0px 0px 10px rgba(248, 249, 250), 0px 0px 10px rgba(248, 249, 250), 0px 0px 10px rgba(248, 249, 250), 0px 0px 5px rgba(248, 249, 250), 0px 0px 5px rgba(248, 249, 250), 0px 0px 5px rgba(248, 249, 250), 0px 0px 5px rgba(248, 249, 250), 0px 0px 2.5px rgba(248, 249, 250), 0px 0px 2.5px rgba(248, 249, 250);
}

.box-background {
    background-color: rgba(248, 249, 250, 0.56);
    color:#293f7dfa;
    font-weight: bold;
    border-radius: 7%;
    box-shadow: -3px 3px 8px #3c1d1d;
    max-width: 600px;
    margin: 0 auto;

}

.form-button {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 20px;
}

/*  Submit buttons */
.add-submit-button {
    background-color: #1b48c9;
    width: 160px;
}

.submit-button {
    background-color: #1ea3e2;
    width: 160px;
}

.cancel-button {
    background-color: #f68511;
    width: 160px;
}
/* ---------------------------------------------- edit.html add.html pages css */

.box-padding {
    padding-top: 40px;
    padding-bottom: 40px;
}

/* span for max-lenght error in areatext */
#errMsg,#txt-length-left {
    font-size: 12px;
}
/* ---------------------------------------------- Login css */
/* login CSS taken from https://epicbootstrap.com/snippets/login-form-dark  */
 
.login-dark {
  height:1000px;
}

.login-dark form {
  max-width:320px;
  width:90%;
  background-color:rgba(248, 249, 250, 0.5);
  padding:40px;
  border-radius:4px;
  /* transform:translate(-50%, -50%); */
  /* position:absolute; */
  /* top:50%;
  left:50%; */
  color:black;
  margin: auto;
  box-shadow:3px 3px 4px rgba(0,0,0,0.2);
}

.login-dark .illustration {
  text-align:center;
  padding:15px 0 20px;
  font-size:100px;
  color:#214a80;
}

.login-dark form .form-control {
  background:none;
  border:none;
  border-bottom:1px solid #434a52;
  border-radius:0;
  box-shadow:none;
  outline:none;
  color:inherit;
}

.login-dark form .btn-primary {
  background:#214a80;
  border:none;
  border-radius:4px;
  padding:11px;
  box-shadow:none;
  margin-top:26px;
  text-shadow:none;
  outline:none;
}

.login-dark form .btn-primary:hover, .login-dark form .btn-primary:active {
  background:#214a80;
  outline:none;
}

.login-dark form .forgot {
  display:block;
  text-align:center;
  font-size:12px;
  color:#2b435c;
  opacity:0.9;
  text-decoration:none;
}

.login-dark form .forgot:hover, .login-dark form .forgot:active {
  opacity:1;
  text-decoration:none;
}

.login-dark form .btn-primary:active {
  transform:translateY(1px);
}

.login-form {
    /* margin-top: 16%; */
}
