{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
{% endblock%}

{% block content %}

<h3 class="pt-5"><i class="ion-leaf"></i>Add Food Item<i class="ion-leaf icon-flip"></i></h3>

<!-- form template from https://getbootstrap.com/docs/4.0/components/forms/ -->
<div class="p-5">

    <form method="POST" class="box-background" action="{{ url_for('add_item') }}">

        <div class="box-padding">
            <div class="container">
                <div class="form-group">
                    <label for="n_item">Food Item</label>
                    <input type="text" class="form-control" id="n_item" name="n_item"
                        placeholder="Ex: Water, rice, Corn">
                </div>
                <div class="form-group">
                    <label for="n_quantity">Quantity</label>
                    <input type="text" class="form-control" id="n_quantity" name="n_quantity" minlength="2" maxlength="50"
                        placeholder="Ex: 3Kg, 4lbs, 12 bottles or 300ml each, ...">
                </div>
                <div class="form-group">
                    <label for="n_expiration_date">Expiration Date</label>
                    <input type="date" name="n_expiration_date" id="n_expiration_date" placeholder="MM/DD/YYYY" max="2099-12-31"
                        class="form-control"></div>
                <div class="form-group">
                    <label for="item_details">Details</label>
                    <textarea class="form-control" id="item_details" name="item_details" rows="3" maxlength="400"></textarea><span id="txt-length-left"><br></span><span id="errMsg"></span>
                </div>
                <div class="form-button">
                    <button type="submit" class="btn btn-secondary submit-button">Submit</button>
                </div>
            </div>
        </div>
    </form>

</div>
{% endblock %}