{% extends "base.html" %}
{% block content %}
<div class="text-center">
    <h3 class="">Edit Food Item</h3>
</div>
<!-- form template from https://getbootstrap.com/docs/4.0/components/forms/ -->
 <form method="POST" action="{{ url_for('edit_item', edit_item_id=itm._id) }}">
<div class="container">
    <div class="form-group">
        <label for="e_item">Food Item</label>
        <input type="text" value="{{ itm.item }}" class="form-control" id="e_item" name="e_item"
            placeholder="Ex: Water, rice, Corn">
    </div>
    <div class="form-group">
        <label for="e_quantity">Quantity</label>
        <input type="text" value="{{ itm.quantity }}" class="form-control" id="e_quantity" name="e_quantity"
            placeholder="Ex: 3Kg, 4lbs, 12 bottles or 300ml each, ...">
    </div>
    <div class="form-group">
        <label for="n_expiration_date">Expiration Date</label>
        <input type="date" value="{{ itm.expiration_date }}" name="e_expiration_date" id="e_expiration_date"
            placeholder="MM/DD/YYY" class="form-control"></div>
    <div class="form-group">
        <label for="e_item_details">Example textarea</label>
        <textarea class="form-control" id="e_item_details" name="e_item_details"
            rows="3">{{ itm.item_details }}</textarea>
    </div>
    <a href="{{ url_for('get_items') }}" class="btn btn-secondary">Cancel</a>
    <button type="submit" class="btn btn-secondary">Submit</button>
</div>
</form>   


{% endblock %}