{% extends "base.html" %}
{% block content %}

<h3> All Food Items </h3>

{% if items_l|length > 0 %}

<!-- table template from https://getbootstrap.com/docs/4.0/content/tables/ -->
<div class="table-responsive">
    <table class="table">
        <caption> List of all food storage items </caption>
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Food Item</th>
                <th scope="col">Details</th>
                <th scope="col">Quantity</th>
                <th scope="col">Expiration Date</th>
            </tr>
        </thead>
        {% for itm in items_l %}
        <tbody>
            <tr>
                <td>
                    <!-- <a href=" url_for('delete_item', d_item_id=itm._id) " class="btn">Done</a> -->
                    <a href="{{ url_for('edit_item', edit_item_id=itm._id) }}" class="btn">Edit</a>
                </td>
                <th scope="row">{{ itm.item }}</th>
                <td>{{ itm.item_details }}</td>
                <td>{{ itm.quantity }}</td>
                <td>{{ itm.expiration_date }}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>
{% else %}
    <h3> Food items not found </h3>
{% endif %}
{% endblock%}