{% extends "base.html" %}
<!-- login template taken from https://epicbootstrap.com/snippets/login-form-dark -->

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"> 
{% endblock%}

{% block content %}

    <div class="login-dark">
        <div style="padding-top: 15%;">
        <form method="post" class="login-form">
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
            <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email"></div>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Log In</button></div><a href="#"
                class="forgot">Forgot your email or password?</a>
        </form>
        </div>
    </div>
  

{% endblock %}